{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>INCUBAR – {% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="icon" type="image/png" href="{% static 'eggs.png' %}">
  
  
  <style>
    .progress { height: 10px; }
    .badge-status { font-size: .85rem; }
  </style>
</head>
<body class="bg-light">
  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
   
      <a class="navbar-brand fw-bold" href="{% url 'incubacao:lote_lista' %}">INCUBAR</a>

     

      {% block botao %}
      
      {% endblock %}

      <div class="ms-md-2">
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'incubacao:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light">Sair</button>
          </form>
        {% endif %}
      </div>

      
    </div>
  </nav> {% endcomment %}


  {% comment %} <nav style="background-color: rgb(255 93 40) !important;" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{% url 'incubacao:lote_lista' %}">Incubar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          
          {% block botao %}
      
          {% endblock %}

          {% if user.is_authenticated %}
              <li class="nav-item">
                <form method="post" action="{% url 'incubacao:logout' %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="nav-link btn btn-link text-white">Sair</button>
                </form>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav> {% endcomment %}

  <nav style="background-color: rgb(255 93 40) !important;" class="navbar navbar-expand-lg navbar-dark">
    <div class="container d-flex justify-content-between">
  
      <!-- Botão + Logo juntos -->
      <div class="d-flex align-items-center">
        <button class="navbar-toggler me-1" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand fw-bold mb-0" href="{% url 'incubacao:lote_lista' %}">Incubar</a>
      </div>
  
      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          {% block botao %}{% endblock %}
          {% if user.is_authenticated %}
            <li class="nav-item">
              <form method="post" action="{% url 'incubacao:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link text-white">Sair</button>
              </form>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
  




  <main class="container py-4">
    {% block content %}
    
    {% endblock %}

    {% if user.is_authenticated %}
          {% comment %} <a href="{% url 'incubacao:lote_criar' %}" style="position:fixed;width:45px;height:55px;bottom:8%;right:10px;background-color:#0d6efdcf; color:#FFF;border-radius:30px;text-align:center;font-size:30px;box-shadow: 2px 2px 2px #888;z-index:1000;">
                      
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
          </a> {% endcomment %}
          <a href="{% url 'incubacao:lote_criar' %}" 
   style="position:fixed;
          width:55px;
          height:75px;
          bottom:8%;
          right:10px;
          
          background-color: #ff3f00bf;
          color:#FFF;
          border-radius:50% 50% 45% 45% / 60% 60% 40% 40%; /* 🔹 formato de ovo */
          text-align:center;
          font-size:30px;
          box-shadow: 2px 2px 5px #888;
          z-index:1000;
          display:flex;
          align-items:center;
          justify-content:center;">
          
  <svg xmlns="http://www.w3.org/2000/svg" 
       width="32" height="32" 
       fill="currentColor" 
       class="bi bi-plus-lg" 
       viewBox="0 0 16 16">
    <path fill-rule="evenodd" 
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
  </svg>
</a>

    {% endif %}
  </main>

</body>
{% comment %} <script>
  
  
  (function () {
    const ctx = document.getElementById('chart-lote-{{ lote.pk }}');
    const prog = 50;
    const rest = 100 ;

    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Progresso', 'Restante'],
        datasets: [{
          data: [prog, rest],
          backgroundColor: ['#28a745', '#d50404ff'],
          borderWidth: 0
        }]
      },
      options: {
        cutout: '70%',
        plugins: { legend: { display: false }, tooltip: { enabled: false } },
        animation: false
      }
    });
  })();

</script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>