{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">🔐 Login</h3>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
      <button type="submit" style="background:#ff5d28;  color: #fff;" class="btn  w-100">Entrar</button>
    </form>

    <div class="text-center mt-3">
      <p class="mb-0">Não tem conta?
        <a href="{% url 'incubacao:register' %}">Cadastre-se</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}