{% extends 'base.html' %}
{% block title %}Novo Lote{% endblock %}
{% block content %}
{% comment %} <h1 class="h3 mb-4">Criar novo lote</h1> {% endcomment %}

<h2>{% if form.instance.pk %}Atualizar Lote{% else %}Novo Lote{% endif %}</h2>
<form method="post" class="card card-body shadow-sm">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-md-6">{{ form.nome.label_tag }} {{ form.nome }}</div>
    <div class="col-md-6">{{ form.tipo_ovos.label_tag }} {{ form.tipo_ovos }}</div>
    <div class="col-md-4">{{ form.dias_personalizados.label_tag }} {{ form.dias_personalizados }}</div>
    <div class="col-md-8">{{ form.inicio_incubacao.label_tag }} {{ form.inicio_incubacao }}</div>

    {% comment %} {{ form.as_p }}  {% endcomment %}

  </div>
  <div class="mt-3">
    
    <h2>{% if form.instance.pk %}<button class="btn btn-danger">Atualizar lote</button>{% else %}<button class="btn btn-danger">Criar novo lote</button>{% endif %}</h2>
    <a href="{% url 'incubacao:lote_lista' %}" class="btn btn-outline-secondary">Cancelar</a>
  </div>
</form>
{% endblock %}