{% extends 'base.html' %}
{% load static %}
{% block title %}Lotes{% endblock %}

{% block botao %}


     
{% endblock %}

{% block content %}


{% if messages %}
  {% for m in messages %}
    <div class="alert alert-{{ m.tags }}">{{ m }}</div>
  {% endfor %}
{% endif %}




<div class="card py-2 p-3">
      <a href="{% url 'incubacao:listmenu' %}" class="list-group-item list-group-item-action d-flex">
        <div class="me-3 check-icon">✔️</div>
        <div>
          <h6>Guia de Incubação</h6>
          <p>As principais informações sobre incubção</p>
        </div>
      </a>
</div>


<h1 class="h3 mb-2">Lotes</h1>

<div class="list-group">
  {% for lote in lotes %}
    <a class="list-group-item list-group-item-action" href="{% url 'incubacao:lote_detalhe' lote.pk %}">
      
      <div class="d-flex justify-content-between align-items-center">
         <!-- COLUNA DIREITA (gráfico) -->
        <div style="width:100px; height:100px;">
          <canvas id="chart-lote-{{ lote.pk }}"></canvas>
        </div>
        
        <!-- COLUNA ESQUERDA (informações do lote) -->
        <div>
          <h2 class="h5 mb-1">{{ lote.nome }}</h2>
          <div class="text-muted" style="color:#ff0000 !important; font-weight: bold;">
            {{ lote.dia_atual }} de {{ lote.dias_incubacao }} dias
          </div>
          <div class="text-muted">
            <small>{{ lote.inicio_incubacao|date:'D, d M Y H:i' }}</br> {{ lote.fim_previsto|date:'D, d M Y H:i' }}</small>
          </div>
          
        </div>

        

       

      </div>

      <!-- SCRIPT DO CHART -->
      <script>
        
        (function () {
          const ctx = document.getElementById('chart-lote-{{ lote.pk }}');
          if (ctx) {
            const prog = {{ lote.progresso_percent }};
            const rest = 100 - prog;

            // Definindo cor dinâmica
            let color = '#28a745'; // verde
            if (prog >= 50 && prog < 75) {
              color = '#ffc107'; // laranja
            } else if (prog >= 75) {
              color = '#dc3545'; // vermelho
            }

            new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: ['Progresso', 'Restante'],
                datasets: [{
                  data: [prog, rest],
                  backgroundColor: [color, '#e0e0e0'],
                  borderWidth: 0
                }]
              },
              options: {
                cutout: '70%',
                plugins: { legend: { display: false }, tooltip: { enabled: false } },
                animation: false
              },
              plugins: [{
                  id: "centerImage",
                  afterDraw: (chart) => {
                    const {ctx, chartArea: {width, height}} = chart;
                    const image = new Image();
                    //image.src = "/static/galo.png"; // 🔹 coloque sua imagem aqui

                    //
                    const tipo = "{{ lote.tipo_ovos|escapejs }}";
                    console.log("Tipo de ovo:", tipo);

                 

                    if (tipo === 'CODORNA') {
                        image.src = "{% static 'codorna.png' %}";  
                    } else if (tipo === 'GALINHA DA ANGOLA') {
                        image.src = "{% static 'Galinha_da_angalo.png' %}"; 
                    } else if (tipo === 'PERU') {
                        image.src = "{% static 'peru.png' %}"; 
                    } else if (tipo === 'PERSONALIZADO') {
                        image.src = "{% static 'ovo_personalizado.png' %}";
                    } else if (tipo === 'GALINHA') {
                        image.src = "{% static 'galo.png' %}";
                    } else {
                        image.src = "{% static 'galo.png' %}";
                    }



                    {% comment %} const x = chart.chartArea.left + width / 2;
                    const y = chart.chartArea.top + height / 2;

                    ctx.save();
                    ctx.drawImage(image, x - 35, y - 35, 70, 70); // (x, y, largura, altura)
                    ctx.restore(); {% endcomment %}

                    image.onload = () => {   // ✅ só desenha quando carregar
                      const x = chart.chartArea.left + width / 2;
                      const y = chart.chartArea.top + height / 2;
                
                      ctx.save();
                      ctx.drawImage(image, x - 35, y - 35, 70, 70);
                      ctx.restore();
                    };

                  }
                }]
            });
          }
        })();
      </script>

    </a>
  {% empty %}
    <div class="alert alert-warning">Nenhum lote cadastrado ainda.</div>
  {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
