{% extends 'base.html' %}
{% block title %}Novo Lote{% endblock %}
{% block content %}
{% comment %} <h1 class="h3 mb-4">Criar novo lote</h1> {% endcomment %}

<h2>{% if form.instance.pk %}Atualizar Lote{% else %}Novo Lote{% endif %}</h2>

{% if messages %}
  {% for m in messages %}
    <div class="alert alert-{{ m.tags }}">{{ m|safe }}</div>
  {% endfor %}
{% endif %}


{% block botao %}

      

      
      <li class="nav-item"><a class="nav-link" href="{% url 'incubacao:lote_lista' %}">Listagem</a></li>

{% endblock %}

<form method="post" class="card card-body shadow-sm">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-md-6">{{ form.nome.label_tag }} {{ form.nome }}</div>
    <div class="col-md-6">{{ form.tipo_ovos.label_tag }} {{ form.tipo_ovos }}</div>
    <div class="col-md-4"  id="dias_personalizados_field" style="display: none;" >{{ form.dias_personalizados.label_tag }} {{ form.dias_personalizados }}</div>
    <div class="col-md-8">{{ form.inicio_incubacao.label_tag }} {{ form.inicio_incubacao }}</div>

    {% comment %} {{ form.as_p }}  {% endcomment %}

  </div>
  <div class="mt-4 d-flex justify-content-center gap-5">
        <a href="{% url 'incubacao:lote_lista' %}" class="btn btn-outline-secondary">Cancelar</a>

        {% if form.instance.pk %}
            <button type="submit" class="btn btn-danger">Atualizar lote</button>
        {% else %}
            <button type="submit" class="btn btn-danger">Criar novo lote</button>
        {% endif %}
  </div>


</form>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tipoSelect = document.getElementById("id_tipo_ovos");
    const diasField = document.getElementById("dias_personalizados_field");

    function toggleDiasField() {
      if (tipoSelect.value === "PERSONALIZADO") {
        diasField.style.display = "block";
      } else {
        diasField.style.display = "none";
        document.getElementById("dias_personalizados_field").value = ""; // limpa se esconder
      }
    }

    // Executa ao carregar a página (caso já esteja selecionado "Personalizado")
    toggleDiasField();

    // Executa quando mudar a seleção
    tipoSelect.addEventListener("change", toggleDiasField);
  });
</script>




{% endblock %}